@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');

pre {
	font-size: 1.05rem;
}

table.codehilitetable{
	background-color: #0e7946;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

div.codehilite{
	padding-left: 3px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
}

body{
	background-color: #000a05;
}

.icone{
	margin-right: 10px;
}

.avatar{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	border-top: 3px solid #1e2924;
	border-bottom: 3px solid #1e2924;
	border-right: 3px solid #1e2924;
	border-left: 3px solid #1e2924;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	width: 230px;
	height: 230px;
	border-radius: 15px;
	transition: all 0.5s ease-in-out 0s;
}

.avatar:hover{
    transform: rotate(180deg);
    transition: all 0.7s ease-in-out 0s;	
	cursor: url(illu.jpg), auto;
}

.post-avatar{
	height: 70px;
	width: 70px;	
	border-radius: 35px;
	float: left;
	margin: 27px;
	margin-right: 50px;
	border: 2px solid #1e2924;
}

img[alt~="img"] {
  width: 80%;
  height: auto;
  border: 2px solid #1e2924;
  border-radius: 10px;
}

.container{
	margin: 0 auto;
	max-width: 1410px;
}

.posts-container{
	list-style-type: none;
	margin-left: 0;
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
	grid-template-rows: auto;
	justify-content: space-evenly;
	padding: 35px;
	grid-column-gap: 22px;
	overflow-x: hidden;		
	text-align: center;
	background-color: #00552e;
	border: 3px solid #1e2924;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	border-radius: 10px;
}

.page-container{
	background-color: #00552e;
	padding: 50px;
	margin: 22px;
	margin-top: 40px;
	border: 3px solid #1e2924;
	border-radius: 10px;
}

hr{
	color: #1e2924;
}

.button-read{
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0e7946;
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
	border: 2px solid #1e2924;
}

.button-read:hover{
	background-color: black;
}

.pagination{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
	margin-top: 27px;
	width: 100%;	
	text-align: center;
}

li{
	list-style: none;
	padding: 15px;
	border: 3px solid #1e2924;
	display: inline;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	color: white;
	margin-right: 10px;
	background-color: #0e7946;
	font-size: 1.2rem;
	border-radius: 10px;
}

li.active{
	background-color: black;
}

.post-excerpt{
	color: white;
	text-align: justify;
	margin: 18px;
	font-style: oblique;
	font-size: 1.07rem;
}

a:not(.post-link){
	color: white;
	text-decoration: none;
}

.post-link{
	display: block;
	padding-right: 110px;
	color: white;
	text-decoration: none;
	font-family: 'Freckle Face', cursive;
	font-size: 2.9rem;
}

.post-link:hover{
	color: #0e7946;
}

.post-container{
	border-left: 11px solid #1e2924;
	border-top: 4px solid #1e2924;
	border-bottom: 4px solid #1e2924;
	display: block;
	width: 80%;
	padding: 26px;
	background-color: black;
	margin: auto;
	margin-bottom: 30px;
	opacity: 0.87;
	border-radius: 10px;
}

.post-link{
	text-align: center;
}

table:not(.codehilitetable){
	width: 80%;
	margin-bottom: 13px;
}

table:not(.codehilitetable) > thead > tr > th{
	border: 2px solid white;
	text-align: center;
	color: white;
	padding: 10px;
	height: 50px;
	border-radius: 10px;
	background-color: #1e2924;
}

table:not(.codehilitetable) > tbody > tr > td{
	border: 2px solid #1e2924;
	text-align: left;
	color: white;
	padding: 15px;
	border-radius: 10px;
	background-color: black;
}

.title{
	font-family: 'Freckle Face', cursive;	
	font-size: 2.9rem;
	color: black;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tag-container{
	background-color: #00552e;
	padding: 40px;
	margin: 15px;
	margin-top: 40px;
	border: 3px solid #1e2924;
	border-radius: 10px;	
}

.tag-item{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid white;
	margin-top: 12px;
}

.tag-item:hover{
	opacity: 0.7;
}

.header{
	margin-bottom: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
}

.social{
	margin-right: 7px;
	color: #000a05;
}

.main-title{
	font-family: 'Freckle Face', cursive;	
	font-size: 4.2rem;
	color: #000a05;
	margin-bottom: 20px;
	margin-top: 10px;
}